<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница человека</title>
</head>
<body>

<form th:method="GET" th:action="@{/people/{id}/edit (id=${person.getId()})}" th:object="${person}">

    <p th:text="${person.getFullName()} + ', ' + ${person.getYearBirth()}"></p>

    <div th:if="${#lists.isEmpty(person.books)}">
        <p>Человек пока не взял ни одной книги</p>
        <hr>
    </div>

    <div th:unless="${#lists.isEmpty(person.books)}">
        <hr>
        <b>Книги:</b>
        <div th:each="book : ${person.getBooks()}">
            <a th:href="@{/books/{id} (id=${book.getId()})}"
               th:text="${book.getName()} + ', ' + ${book.getAuthor()}  + ', ' + ${book.getYear()}"></a>
        </div>
        <hr>
    </div>

    <input type="submit" value="Редактировать">
</form>
<br>

<form th:method="DELETE" th:action="@{/people/{id} (id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>